
#content {
    width: 37%;
    margin: 40px auto;
    padding: 50px;
    border: 1px solid darkgray;
}

hr {
    margin-top: 0px;
    margin-bottom: 30px;
    width: 84%;
    background-color: gray;
}

.dark_mode {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-size: 2em;
    letter-spacing: 2px;
    font-weight:  normal;
}
#claim{
    font-style: italic;
}
ul {
    list-style-type:decimal;
}
li{
    margin-top: 18px;
}

h2 {
    text-align: center;
    font-size: 0.9em;
    margin: 0px 0px 0px 0px;
    color: #006EB6;
    letter-spacing: 2px;
    font-weight:  normal;
}
p {
    line-height: 1.3;
}

#statement {
    width: 84%;
    margin: auto;
}

#logo-container {
    width: 100%;
    margin-top: 60px;
    text-align: center;
}

img {
    width: 140px;
}